body {
  background-color: AntiqueWhite;
  color: red; }
  body h1 {
    font-family: cursive;
    font-size: 80px; }
  body img {
    margin: auto;
    width: 70%;
    height: 70%; }
  body p {
    color: red;
    font-size: 80px; }
  body h5 {
    font-weight: bold; }
