body {
  background-color: AntiqueWhite;
  color: red; }
  body h1 {
    font-family: cursive;
    font-size: 80px; }
  body img {
    margin: auto;
    width: 70%;
    height: 70%; }
  body p {
    color: red;
    font-size: 80px; }
  body h5 {
    font-weight: bold; }
  body .irene_about {
    font-size: 16px; }
  body .irene_about_lead {
    font-weight: bold; }
  body .img-thumbnail {
    width: 100%;
    height: 100%; }
  body .decr {
    width: 30%;
    height: 30%;
    float: left;
    margin: 20px; }
  body .descr {
    font-size: 16px; }
  body .carousel-caption p {
    font-size: 40px; }
  body address .row .col-sm-12 p {
    font-size: 30px; }
